@charset "UTF-8";
body{
	background-color: #fff;
	font-family: "Microsoft YaHei","微软雅黑",Helvetica,"黑体",Arial,Tahoma,"Segoe UI",Segoe,Verdana,sans-serif;
	font-size: 13px;
}
body,ul,li,h2,h3,p,form,div,input,header,footer,image{
	margin: 0px;
	padding: 0px;
	border: none;
	list-style: none;
} 
h2,h3{
	font-size: 100%;
	font-weight: normal;
}
a{
	color: #acacac;
	text-decoration: none;
}
a:hover{
	color: #fff;
	text-decoration: none;
}
.bing{
	min-width: 1250px;
	max-width: 1920px;
	width: 100%;
	min-height: 640px;
	max-height: 1080px;
	height: 100%;
	position: relative;
	overflow:hidden;
}
.bg_img{
	width: 100%;
	background: transparent no-repeat center -80px;
	background-size: cover;
	-webkit-background-size: cover;
	position: absolute;
	opacity:0;
	filter:alpha(opacity=0);
}
@media (min-width: 1400px){
	.bg_img{
		background-position-y: 0; 
	}
}
.bg_img1{
	opacity:1;
	background-image: url(../images/j.jpg);
	filter:alpha(opacity=100);
}
.bg_img2{
	background-image: url(../images/5.jpg);
}
.bg_img3{
	background-image: url(../images/6.jpg);
}
.bg_mask{
	position: absolute;
	width: 100%;
	background-color: #000;
	z-index: 5;
	opacity: 0.5;
	filter: alpha (opacity=50);
	display: none;
}

header{
	box-sizing: border-box;
	z-index: 20;
	width: 100%;
	height: 43px;
	padding: 0 30px;
	background-color: #333;
	position: absolute;
	line-height: 43px;
	color: #acacac;
}
header .nav{
	width: 60%;
	float: left;
}
header .nav li{
	display: inline-block;
	margin: 0 18px;
}
header .nav li a{
	display: block;
}
header .nav li .office{
	width:350px;
	height:330px;
	background-color:rgba(0,0,0,0.7);
	position:absolute;
	visibility:hidden;
}
header .nav li .office ul{
	padding:15px;
	overflow:hidden;
}
header .nav li .office ul li{
	float:left;
	width:80px;
	height:80px;
	text-align:center;
	margin:0;
	padding:10px;
}
header .nav li .office ul li a{
	width:80px;
	height:80px;
}
header .nav li .office ul li span.online{
	display:block;
	width:48px;
	height:48px;
	margin:0 auto;
	background: url(..//images/tubiao.png);
}
header .nav li .office ul li span.online-w{
	background-position-x: 0;
}
header .nav li .office ul li span.online-e{
	background-position-x: -49px;
}
header .nav li .office ul li span.online-ppt{
	background-position-x: -98px;
}
header .nav li .office ul li span.online-n{
	background-position-x: -196px;
}
header .nav li .office ul li span.online-s{
	background-position-x: -392px;
}
header .nav li .office ul li span.online-d{
	background-position-x: -441px;
}
header .nav li .office ul li span.online-o{
	background-position-x: -147px;
}
header .nav li .office ul li span.online-c{
	background-position-x: -294px;
}
header .nav li .office ul li span.online-p{
	background-position-x: -343px;
}
header .nav li .office ul li a span.text{
	display:block;
	font-size:12px;
	text-align:center;
	line-height:normal;
	text-transform:none;
}
header .login{
	width: 40%;
	float: left;
	text-align: right;
}
header .login .login_b{
	display:inline-block;
}
header .login .swith_en a{
	padding-left:30px;
	line-height: 20px;
	margin-right: 9px;
	display: inline-block;
	background:url(../images/diqiu.png) no-repeat -5px -5px;
	vertical-align:text-bottom;
}
header .login .swith_en a:hover{
	background-position-y:-35px;
}
header .login .user_login{
	margin: 0 15px;
}
header .login .user_login .user_bg{
	width: 50px;
	height: 50px;
	border-radius: 25px;
	display: inline-block;
	vertical-align: middle;
	margin: -5px 8px 0px;
	background: #555 url(../images/hpc18.png) no-repeat -2px -140px;
}
header .login .setting a.set_icon{
	width: 20px;
	height: 20px;
	margin: -4px 17px 0 0; 
	display: inline-block;
	vertical-align: middle;
	background:transparent  url(../images/hpc18.png) no-repeat -192px -148px;
}
header .login .setting a.set_icon:hover{
	background:transparent  url(../images/hpc18.png) no-repeat -170px -148px;
}
header .login .setting .set_block{
	display:none;
	width:181px;
	height:70px;
	background-color:#fff;
	position:absolute;
	top:43px;
	right:0;
}
header .login .setting .set_block a{
	display:block;
	width:141px;
	line-height:35px;
	color:#001ba0;
	text-align:left;
	font-size:12px;
	padding: 0 20px;
}
header .login .setting .set_block a:hover{
	color:#092DE2;
}

.search{
	z-index: 10;
	height: 53px;
	line-height: 53px;
	position: absolute;
	top:20%;
	left: 8%;
	padding-left: 125px;
	background: url(../images/hp_zh_cn.png) no-repeat;
	font-size:0;
}
.search form input.search_input{
	line-height: 35px;
	width: 480px;
	padding: 5px 10px;
	font-size:14px;
}
.search form input.search_submit{
	line-height: 29px;
	width: 45px;
	border: 8px solid #0c8484;
	display: inline-block;
	background: #0c8484 url(../images/hpc18.png) no-repeat -169px -63px;
	text-indent: -999em;
}

footer{
	width: 100%;
	z-index: 10;
	position: absolute;
	bottom: 0;
	color: #666;
	font-size: 12px;
	text-align: right;
}
footer .operation{
	line-height: 50px;
	padding: 0 10px;
	overflow: hidden;
	font-size:0;
}
footer .operation span{
	width:40px;
	height:40px;
	margin:0 10px;
	display:inline-block;
	cursor:pointer;
}
footer .operation span:hover{
	width:42px;
	height:42px;
	margin:-2px 9px;
}
footer .operation .share{
	width:60px;
	height:42px;
	float: right;
	overflow:hidden;
}
footer .operation .share .share_wrap{
	width:0;
	height:42px;
	display:none;
}
footer .operation .img{
	float: right;
}
footer .operation .news{
	float: right;
}
footer .operation .share .share_kj{
	background: url(../images/1.png) no-repeat 0 -294px;
}
footer .operation .share .share_wb{
	background: url(../images/1.png) no-repeat 0 -252px;

}
footer .operation .share .share_wx{
	background: url(../images/1.png) no-repeat 0 -210px;

}
footer .operation .share .share_btn{
	background: url(../images/1.png) no-repeat 0 0;

}
footer .operation .img .img_left{
	background: url(../images/1.png) no-repeat 0 -84px;

}
footer .operation .img .img_right{
	background: url(../images/1.png) no-repeat 0 -126px;

}
footer .operation .news .news_icon{
	background: url(../images/1.png) no-repeat 0 -42px;

}
footer .operation .img .img_left:hover{
	background-position-x: -252px;
}
footer .operation .img .img_right:hover{
	background-position-x: -252px;
}
footer .operation .news .news_icon:hover{
	background-position-x: -252px;
}
footer .operation .share .share_kj:hover{
	background-position-x: -252px;
}
footer .operation .share .share_wb:hover{
	background-position-x: -252px;
}
footer .operation .share .share_wx:hover{
	background-position-x: -252px;
}
footer .operation .share .share_btn:hover{
	background-position-x: -252px;
}
footer ul{
	line-height: 35px;
	padding: 0 30px;
	background-color: #333;
}
footer ul li{
	display: inline-block;
}
footer ul li a{
	color: #666;
}
footer ul li a:hover{
	color: #666;
	text-decoration: underline;
}
footer ul li span{
	margin: 0 10px;
}

.sidebar{
	width:440px;
	height:100%;
	background-color: rgba(0,0,0,.8);
	position: absolute;
	right: -440px;
	overflow-x: hidden;
}
.sidebar .hpla{
	overflow-y: scroll;
	overflow-x: hidden;
	padding: 0 46px 0 32px;
}
.sidebar .hpla .hpla_dl{
	color: #fff;
	width: 364px;
	letter-spacing: .8px;
	line-height: 18px;
	position: relative;
	top:43px;
}
.sidebar .hpla .hpla_dl .download{
	margin-top: 20px;
	text-align: right; 
}
.sidebar .hpla .hpla_dl .download a{
	text-decoration: underline;
	color:#ddd;
}
.sidebar .hpla .hpla_dl .download img{
	margin-right: 5px;
	vertical-align: bottom;
}
.sidebar .sights img{
	width: 100%;
	padding: 20px 0 40px;
}
.sidebar .intro h3{
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 7px;
}
.sidebar .intro p{
	color: #fff;
	letter-spacing: .8px;
	font-size: 13px;
	line-height: 18px;
	text-align:justify;
}
.sidebar .intro p.title{
	margin-bottom: 16px;
	color: #aaa;
	display: block;
}
.sidebar .intro p.intro_text{
	color:#aaa;
	text-align: right;
	margin: 8px 2px 18px 0;
}